*{
    border: 1px solid red !important;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}
.row {
    width: 100%;
    display:  flex;
}
.col-1 {
    width: 8.33%;
    
}
.col-2 {
    width: 16.66%;
    background-color: rgb(65, 63, 63);
    text-transform: uppercase;
    text-align:center;
    padding: 5%;
    border-radius: 10px;
    /* margin: 3px; */
    flex-wrap: wrap;
    margin: 10px
    
    
}
.col-3 {
    width: 25%;
}
.col-4 {
    height:33.33%;
    width: 33.33%;
    background-color: rgb(65, 63, 63);
    text-transform: capitalize;
    text-align:center;
    padding: 5%;
    border-radius: 10px;
    /* margin: 3px; */
    flex-wrap: wrap;
    
    
}
.col-5 {
    width: 41.66%;
    background-color: rgb(65, 63, 63);
    text-transform: capitalize;
    text-align:center;
    padding: 5%;
    border-radius: 10px;
    /* margin: 3px; */
    flex-wrap: wrap;
    
    
}
.col-6 {
    height: 40%;
    width: 50%;
    text-align:center;
    padding: 5%;
    /* margin: 5%; */
    border-radius: 5%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91%;
}
.col-12 {
    width: 100%;
}
.header {
    margin: 5%
    color: red;

}
#background {
    background-color: rgb(41, 39, 39);
}

body {
    color: whitesmoke
}
body {
    font-family: "Montserrat", "Raleway";
}
.leftbox {
    float: left;
}   
.middlebox {
    float: left;
}
.rightbox {
    float: right;
}
#dog {
    max-width: -webkit-fill-available;
}
.journey {
    text-align: center;
}
.h1journey {
    text-decoration: underline;
}
.values {
    text-align: center;

}
.h1values {
    text-decoration: underline;
}
.home {
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}
.links {
    text-decoration: none;
    cursor: pointer
}
a:link {
    text-decoration: none;
}
h2 {
    font-size: 14pt;
    
